body {
    font-family: sans-serif;
    margin: 0;
    padding: 3rem;
    background-color: lightgray;
    color: gray;
    text-align: center;
}

#alert {
    margin: 3rem auto;
    padding: 1rem;
    width: 15rem;
    border: 2px solid #ff0044;
    border-radius: 5px;
    background-color: #fff3f6;
    color: Black;
}

#alert button {
    font: inherit;
    border: none;
    padding: 0.5rem 1.5rem;
    background-color: gray;
    color: Black;
    border-radius: 4px;
    cursor: pointer;
}